<h1><%= t 'home.main_h1' %></h1>
<p><%= t 'home.paragraph' %></p>

<p><h2><%= t 'home.eruv_h2' %></h2>
	<%= t 'home.eruv_paragraph' %><a href='http://eruv.at/' target='blank'><%= t 'home.eruv_link' %></a>.</p>
