<h1><%= t('when.main_h1') %></h1>
<p>
	<h2><%= t('when.h2') %></h2>
	<table class="round">
		<tr><td><%= t('when.shabbes_first') %> </td>      <td> 8:00 </td></tr>
		<tr><td><%= t('when.shabbes_second') %> </td>     <td> 9:00 </td></tr>
		<tr><td><%= t('when.weekdays') %> </td>           <td> 7:00 </td></tr>
		<tr><td><%= t('when.sunday') %> </td>             <td> 8:00 </td></tr>		
	</table>
	<h2 style="color: red"><b><%= t('when.information') %></b></h2>
</p>
