<header>
	<%= link_to logo, root_path %>
	<nav>
		<ul>
			<li class='round'><%=link_to "Home", root_path %></li>
			<li class='round'><%=link_to "Wo sind wir", where_path %></li>
			<li class='round'><%=link_to "Wann dawenen wir", when_path %></li>
			<li class='round'><%=link_to "Kontakt", contact_path %></li>
		</ul>
	</nav>
</header>